.button_task {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 300;
  position: absolute;
  right: 40px;
  top: 40px;
}
.button_task:hover {
  font-size: 51px;
}
.button_task:active {
  font-size: 46px;
}